/***************************************************************************************/
/* 			WEBINAR SIDEBAR			*/
/***************************************************************************************/

div#webinarsidebar 						{ width: 290px !important; background-color: #fff; float: right; border: 5px solid #ccc; padding: 20px; -webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px;}
div#webinarsidebar form input.name 		{ -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;font-size: 13px; width: 238px !important; height: 32px; margin: 4px auto 8px auto; border: 1px solid #ccc; background-image:url('images/name.png'); background-repeat:no-repeat; padding: 0px 35px 0px 6px; background-position: 99% center;}
div#webinarsidebar form input.email 	{ -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;font-size: 13px; clear: both; width: 238px !important; height: 32px; margin: 0px auto 8px auto; border: 1px solid #ccc; background-image:url('images/mail.png'); background-repeat:no-repeat; padding: 0px 35px 0px 6px; background-position: 99% center;}
div#webinarsidebar form input.submit 	{ width: 238px; height: 35px; font-weight: bold; margin: 0px auto 0px auto;}
div#webinarsidebar form 				{ text-align: center;}
div#webinarsidebar p 					{ margin-bottom: 15px; }
div#webinarsidebar h2 					{ font-size: 24px; font-family: Arial; font-weight: bold; line-height: 1.25em; letter-spacing: -1pt; text-align: center; margin-bottom: 20px;}
div#webinarsidebar li ul 				{ margin-bottom:15px; }
div#webinarsidebar ul 					{ margin-bottom: 15px;}
div#webinarsidebar ul li 				{ margin-left: 30px;}
div#webinarsidebar ol 					{ margin-bottom: 15px;}
div#webinarsidebar ol li 				{ margin-left: 30px;}
div#webinarsidebar img 					{ padding: 10px;}
div#webinarsidebar select				{ -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;font-family: arial; background-color: #fff; border: 1px solid #ccc; width: 238px; height: 32px; margin: 4px auto 4px auto; font-size: 14px; padding: 5px;}
div#webinar_local_time					{width: 195px; height: 25px; margin: 4px auto 4px auto; font-size:15px;}

div#webinar_content { width: 640px; float: left;}
div#webinar_headline h1, div#thankyou h1 { color: #333333; font-size: 28px; font-family: Arial; font-weight: bold; line-height: 1.2em; letter-spacing: -1pt; margin: 0px auto 20px auto; text-align: center !important;}
div#webinar_headline { margin: 0px auto 20px auto;}
div#webinar_video { max-width: 640px; float: left; margin-bottom: 25px;}
div#webinar_wrapper 	{ padding-bottom: 50px; max-width: 940px; margin: 25px auto 25px auto;}
div#webinar_wrapper h2 	{ letter-spacing: -1pt; color: #666; margin-bottom: 10px; font-weight: bold; font-family: Arial; font-size: 26px; text-align:center;}
div#thankyou 			{ margin-top: 25px; text-align:center !important;}

div#webinar_thankyou_side 			{ float: right; width: 300px;}
div#webinar_details_side 			{ background-color: #E5E5E5; border-top: 4px solid #666; border-bottom: 4px solid #666; padding: 15px; margin-bottom: 25px; font-family: Arial; font-size: 15px;} 
div#webinar_details_side strong 	{ font-weight: bold;}

div#webinar_step p 			{ width: 90%; margin: 20px auto; font-family: Arial; font-size: 15px;}
div#webinar_step 			{ margin-bottom: 25px;}
div#webinar_media_button 	{ float: left; margin-right: 10px;}
div#socbuttons {float:left; width:65px;}

div#timedate1 { margin-bottom:0px; text-align: left; margin-left: 20px;}
div#timedate { margin-bottom:18px; text-align: left; margin-left: 20px;}

footer { margin-top:50px;}


/***************************************************************************************/
/* 			OPTIN BUTTON			*/
/***************************************************************************************/

.optinbutton 			{ display: inline-block; outline: none; cursor: pointer; text-align: center; text-decoration: none; font: 21px Arial, Helvetica, sans-serif !important; font-weight: bold !important; padding: 8px 20px 8px 20px; text-shadow: 1px 1px 1px #303030; filter: dropshadow(color=#303030, offx=1, offy=1); border: none !important; margin: 0px auto; width: 238px; height: 45px; color: #fff !important; background-image:url('images/orangebutton.png') ; background-color: #fff; }
.optinbutton:hover 		{ text-decoration: none; }
.optinbutton2 			{ display: inline-block; outline: none; cursor: pointer; text-align: center; text-decoration: none; font: 21px Arial, Helvetica, sans-serif !important; font-weight: bold !important; padding: 8px 20px 8px 20px; text-shadow: 1px 1px 1px #303030; filter: dropshadow(color=#303030, offx=1, offy=1); border: none !important; margin: 0px auto; width: 238px; height: 45px; color: #fff !important; background-image:url('images/orangebutton.png') ; background-color: #fff; }
.optinbutton2:hover 	{ text-decoration: none; }
.optinpagebutton 		{ display: inline-block; outline: none; cursor: pointer; text-align: center; text-decoration: none; font: 21px Arial, Helvetica, sans-serif !important; font-weight: bold !important; padding: 8px 20px 8px 20px; text-shadow: 1px 1px 1px #303030; filter: dropshadow(color=#303030, offx=1, offy=1); border: none !important; margin: 0px auto; width: 238px; height: 45px; color: #fff !important; background-image:url('images/orangebutton.png') ; background-color: #fff; }
.optinpagebutton:hover 	{ text-decoration: none; }

.printbutton {
    color: #6e6e6e;
    font: bold 12px Helvetica, Arial, sans-serif;
    text-decoration: none;
    padding: 7px 12px;
    position: relative;
    display: inline-block;
    text-shadow: 0 1px 0 #fff;
    -webkit-transition: border-color .218s;
    -moz-transition: border .218s;
    -o-transition: border-color .218s;
    transition: border-color .218s;
    background: #f3f3f3;
    background: -webkit-gradient(linear,0% 40%,0% 70%,from(#F5F5F5),to(#F1F1F1));
    background: -moz-linear-gradient(linear,0% 40%,0% 70%,from(#F5F5F5),to(#F1F1F1));
    border: solid 1px #dcdcdc;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    margin-right: 10px;
	cursor: pointer;
}

.printbutton:hover {
    color: #6e6e6e;
    border-color: #999;
    -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
	-webkit-box-shadow:0 2px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}


#countdown_dashboard {
	height: 120px;
}

.dash {
	width: 110px;
	height: 114px;
	background: transparent url('images/dash.png') 0 3px no-repeat;
	float: left;
	margin-left: 20px;
	position: relative;
}

.dash .digit {
	font-size: 52pt;
	font-weight: bold;
	float: left;
	width: 55px;
	text-align: center;
	font-family: Times;
	color: #555;
	position: relative;
	padding-top: 17px;
}

.dash_title {
	position: absolute;
	display: block;
	bottom: 0px;
	right: 6px;
	margin-top: 10px;
	font-size: 9pt;
	color: #555;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.dev_comment {
	font-size: 14pt;
	color: #777;
	text-align: center;
	font-style: italic;
	margin: 40px 10px;
}

#subscribe_form {
	position: relative;
} 

#email_field {
	font-size: 16pt;
	padding: 6px 10px;
	width: 300px;
}

#subscribe_button {
	font-size: 14pt;
	color: #333;
	padding: 4px 8px;
}

.copyright {
	font-size: 9pt;
	color: #333;
	margin: 40px 0px;
}

.faded {
	color: #999;
}

.form_message {
	width: 400px;
	padding: 10px;
	margin: 15px auto;
	display: none;
}

#error_message {
	background-color: #ffe;
	border-left: 5px solid #bb3;
	border-right: 5px solid #bb3;
	color: #770;
}

#info_message {
	background-color: #f0f9ff;
	border: 1px solid #eef;
}

#loading {
	text-align: center;
	margin: 10px;
	display: none;
	position: absolute;
	width: 100%;
	top: 60px;
}

