/**
 * videojs-overlay
 * @version 1.1.4
 * @copyright 2017 Brightcove, Inc.
 * @license Apache-2.0
 */

.video-js .vjs-overlay{color:#fff;position:absolute;text-align:center}
.video-js .vjs-overlay-no-background{max-width:50%}
.video-js .vjs-overlay-background{background-color:#646464;background-color:rgba(255,255,255,0.4);border-radius:3px;padding:10px;width:33%}
.video-js .vjs-overlay-top-left{top:5px;left:5px}
.video-js .vjs-overlay-top{left:50%;margin-left:-16.5%;top:5px}
.video-js .vjs-overlay-top-right{right:5px;top:5px}
.video-js .vjs-overlay-right{right:5px;top:50%;transform:translateY(-50%)}
.video-js .vjs-overlay-bottom-right{bottom:3.5em;right:5px}
.video-js .vjs-overlay-bottom{bottom:3.5em;left:50%;margin-left:-25%; width:50%;}
.video-js .vjs-overlay-bottom-left{bottom:3.5em;left:5px}
.video-js .vjs-overlay-left{left:5px;top:50%;transform:translateY(-50%)}
.video-js .vjs-overlay-center{left:50%;margin-left:-16.5%;top:50%;transform:translateY(-50%)}
.video-js .vjs-no-flex .vjs-overlay-left,.video-js .vjs-no-flex .vjs-overlay-center,.video-js .vjs-no-flex .vjs-overlay-right{margin-top:-15px}
.obutton {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffff00;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffff00;
	box-shadow:inset 0px 1px 0px 0px #ffff00;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffc800), color-stop(1, #d56700) );
	background:-moz-linear-gradient( center top, #ffc800 5%, #d56700 100% );
  background:-ms-linear-gradient(top, #ffc800, #d56700);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc800', endColorstr='#d56700');
	background-color:#ffc800;
	-webkit-border-top-left-radius:9px;
	-moz-border-radius-topleft:9px;
	border-top-left-radius:9px;
	-webkit-border-top-right-radius:9px;
	-moz-border-radius-topright:9px;
	border-top-right-radius:9px;
	-webkit-border-bottom-right-radius:9px;
	-moz-border-radius-bottomright:9px;
	border-bottom-right-radius:9px;
	-webkit-border-bottom-left-radius:9px;
	-moz-border-radius-bottomleft:9px;
	border-bottom-left-radius:9px;
	text-indent:0px;
	border:1px solid #d56700;
	display:inline-block;
	color:#ffffff !important;
	font-family:Arial;
	font-size:22px;
	font-weight:bold;
	font-style:normal;
	height:44px;
	line-height:44px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #85683a;
  cursor: pointer;
	padding: 0px 30px;
}
.obutton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #d56700), color-stop(1, #ffc800) );
	background:-moz-linear-gradient( center top, #d56700 5%, #ffc800 100% );
  background:-ms-linear-gradient(top,#d56700, #ffc800);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d56700', endColorstr='#ffc800');
	background-color:#d56700;
	text-decoration:none;
}
.obutton:active {
	position:relative;
	top:1px;
	text-decoration:none;
}