body {padding: 0px; margin: 0px; font-size: 15px; font-family: arial;}
header {width: 100%; min-height: 50px;}
p {line-height: 20px;}


.arrow-down {
	width: 0; height: 0; border-left: 20px solid transparent; border-right: 20px solid transparent; margin: 0px auto; border-top: 20px solid #f00;
}


/***************************************************************************************/
/* 			WEBINAR SIDEBAR			*/
/***************************************************************************************/
div#webinarsidebar 						{ width: 300px; background-color: #fff; float: right; border: 5px solid #ccc; padding: 0px; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;}
div#sidebarhead							{ height: 60px; margin-bottom:20px; padding: 8px 0px; -webkit-border-top-left-radius: 6px; -webkit-border-top-right-radius: 6px; -moz-border-radius-topleft: 6px; -moz-border-radius-topright: 6px; border-top-left-radius: 6px; border-top-right-radius: 6px; width: 100%;}
div#sidebarcontent 						{ width: 238px; margin: 0px auto;}
div#webinarlogo							{ height: 50px;     vertical-align: bottom;    display: table-cell; }
div#headinner							{ max-width: 980px; margin: 0px auto; padding-bottom: 12px; padding-top:20px;}
div#webinarsidebar form input.name 		{ -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;font-size: 13px; width: 238px; height: 36px; margin: 4px auto 8px auto; border: 1px solid #ccc; background-image:url('images/name.png'); background-repeat:no-repeat; padding: 0px 35px 0px 6px; background-position: 99% center;}
div#webinarsidebar form input.email 	{ -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;font-size: 13px; clear: both; width: 238px; height: 36px; margin: 0px auto 8px auto; border: 1px solid #ccc; background-image:url('images/mail.png'); background-repeat:no-repeat; padding: 0px 35px 0px 6px; background-position: 99% center;}
div#webinarsidebar form input.submit 	{ width: 235px; height: 35px; font-weight: bold; margin: 0px auto 0px auto;}
div#webinarsidebar form 				{ text-align: center;}
div#webinarsidebar p 					{ margin-bottom: 15px; }
div#webinarsidebar h2 					{ color: #fff; font-size: 24px; font-family: Arial; font-weight: bold; line-height: 50px; letter-spacing: -1pt; text-align: center; margin-top: 0px;}
div#webinarsidebar li ul 				{ margin-bottom:15px; }
div#webinarsidebar ul 					{ margin-bottom: 15px;}
div#webinarsidebar ul li 				{ margin-left: 30px;}
div#webinarsidebar ol 					{ margin-bottom: 15px;}
div#webinarsidebar ol li 				{ margin-left: 30px;}
div#webinarsidebar img 					{ padding: 10px;}
div#webinarsidebar select 				{ -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; font-family: arial; background-color: #fff; border: 1px solid #ccc; width: 238px; height: 32px; margin: 4px auto 4px auto; font-size: 13px; padding: 5px;}
div#webinar_local_time					{ width: 195px; height: 25px; padding: 4px 0px 0px 0px; margin: 4px auto 6px auto; font-size:14px;}


div#webinar_headline h1, div#thankyou h1 { color: #333333; font-size: 28px; font-family: Arial; font-weight: bold; line-height: 1.2em; letter-spacing: -1pt; margin: 0px auto 20px auto; text-align: center;}
div#webinar_headline { margin: 0px auto 20px auto;}
